<div id="navigation">
  <div class="nav-section">
    <h2>Select Fiscal Year</h2>
  
    <a href="/fiscal_years/1" id="fiscal_year_2010-nav" class="nav-el<%= @section == 'fiscal_years_2010' ? ' selected' : '' %>"><span class="icon">2010</span></a>
    <a href="/fiscal_years/1" id="fiscal_year_2009-nav" class="nav-el<%= @section == 'fiscal_years_2009' ? ' selected' : '' %>"><span class="icon">2009</span></a>
    <a href="/fiscal_years/1" id="fiscal_year_2008-nav" class="nav-el<%= @section == 'fiscal_years_2008' ? ' selected' : '' %>"><span class="icon">2008</span> <span class="missing">3</span></a>
    <a href="/fiscal_years/1" id="fiscal_year_2007-nav" class="nav-el<%= @section == 'fiscal_years_2007' ? ' selected' : '' %>"><span class="icon">2007</span></a>
    <a href="/fiscal_years/1" id="fiscal_year_2006-nav" class="nav-el<%= @section == 'fiscal_years_2006' ? ' selected' : '' %>"><span class="icon">2006</span></a>
    <a href="/fiscal_years/1" id="fiscal_year_2005-nav" class="nav-el<%= @section == 'fiscal_years_2005' ? ' selected' : '' %>"><span class="icon">2005</span></a>
  </div>
</div>